/* THIS IS STYLE FOR MODAL */

.modal-body {
  background-color: #1f1f1f;
  text-align: center;
}

.modal-content {
  background-color: #1f1f1f;
  border: 0px;
  width: 100%;
  height: 100%;
}

.modal-footer {
  border: 0px;
}

.modal-header {
  border: 0px;
}

.btn-modal-register {
  color: red;
}

.modal-title {
  color: white;
}

.modal-account {
  color: #b1b1b1;
  text-align: center;
}

.modal-register-group {
  background-color: grey;
}

.modal-register-group::placeholder {
  color: white;
}

.modal-account-here {
  color: white;
  cursor: pointer;
}

.btn-modal-login {
  color: white;
}

/* END OF MODAL STYLE */

.App {
  width: 700;
  padding: 30;
  display: block;
}

/* ini lu cek lagi dah jumbotron */
.jumbotron {
  /* background-image: url("../src/Images/1484260.jpg"); */
  background-size: cover;
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* background-attachment: fixed; */
  /* background: linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.3)); */
  /* background: linear-gradient(to bottom, rgb(0,0,0) 30%, rgb(255,255,255) 100%); */
}

.jumbotron .container {
  color: #fff;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* this is top navbar */

.top-navbar {
  font-family: sans-serif;
}

/* this is homescreen */

.home-movies-card {
  background-color: black;
  color: white;
}

/* This is Admin Transaction  */

.admin-transaction-body {
  background-color: #1f1f1f;
  height: 100vh;
}

.admin-transaction-container {
  padding-top: 60px;
}

.admin-table-transaction {
  width: 1159px;
  height: 100px;
  margin-top: 0px;
  padding-top: 100px;
}

.admin-icon-polygon {
  width: 15px;
  height: 15px;
  left: 40px;
  top: 41px;
}

.admin-table-title {
  color: red;
}

/* this is admin add movies page */

.admin-add-movie-body {
  background-color: #1f1f1f;
  height: 100vh;
}

.admin-add-movie-title {
  color: white;
}
.admin-add-movie-button {
  float: right;
  width: 160px;
  height: auto;
}

.admin-add-movie-btn-add {
  color: red;
  font-weight: bold;
}

.admin-add-movie-thumb {
  background: #b1b1b1 url("./Images/Icons/Attachment.png") no-repeat right
    center;
  border-radius: 5px;
  width: 100%;
  height: 38px;
  padding: 0;
  margin: 0;
  position: relative;
}

.admin-add-movie-thumb-file {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}
